.body
{
background-color:#96bb7c;
}
h1
{
  text-align: center;
color: white;

}
h3
{
  color: white;
}

a
{
  color: black;
}
.button3
{
border-radius: 8px;
height:45px;

}
#navbar
{
  color:black;
  margin-right:10%;
  margin-left:10%;
font-family: 'Dosis', sans-serif;
}
#card
{
  font-family: 'Dosis', sans-serif;
  text-align: left;
  margin-right:10%;
  margin-left:10%;
  padding: 2.5%;
  border-radius: 8px;
  border-color:darkgrey;
  background-color:#b9b398;
  color: white;
}
.pridani
{
  text-align:center;


}


#card_2
{
  text-align: left;
  margin-right:10%;
  margin-left:10%;
  padding: 2.5%;
  overflow-x: auto;

  border-radius: 8px;
  border-color:darkgrey;
background-color:#b9b398;

}
.form
{
  text-align: center;
}

#records
{
  text-align: center;
  border-color: black;
  background-color:#fffdf1;



}
#submit
{
border-style: dashed;
color: white;

}

#edit_button
{
margin-left: 33%;
  color: white;

}
#delete_button
  {

    color:red;
}
#back_button
{
background-color: red;
}
#records_filter
{
float: right;
padding-bottom: 5%;
border-color: darkgrey
}
label {
    font-family:'Dosis', sans-serif;
    font-weight: 700;


    color: white;
}
.pagination
{
    float:right;
    padding-top: 2.5%;
}
.dataTables_wrapper .row .pagination li a, .dataTables_wrapper .row .pagination li span {

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;


    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    background-color: #ffc107;
    border: solid #ffc107;
    height: 30px;

    line-height: 28px;
    color: #fff;
    padding: 0 8px;
    margin-left:5px;
    font-size: 1.2rem;
}
#records_info
{
  padding-top: 2.5%;
  color:#e3dfc8;
}

.dataTables_wrapper .row .col-md-6:last-of-type label {
    text-align: left;
}
